In [1]:
from plot_helper import IQR_compute

In [2]:
IQR_compute('raw_data/oset7m/set7cyc_%smonthly_data_0.txt', 'parsed_data/oset7m/set7cyc_%smonthly.txt', 'oset7')

ValueError: Length of values does not match length of index

In [4]:
import pandas as pd
allgenodf = []
for i in range(131):
  # 361 rows of data are in output file
  allgenodf.append(pd.DataFrame(columns = range(361)))
from constant import HEADLINE, ENCODINGDB, REPORTDAYS
for j in range(1,101):
  dummy_file = 'parsed_data/oset7m/set7cyc_%smonthly.txt' % j
  df = pd.read_csv(dummy_file, sep='\t')
  # For each file - append genotype freq to 128 sep dfs
  for (genotype, dfcounter) in zip(ENCODINGDB, range(128)):
    allgenodf[dfcounter] = allgenodf[dfcounter].append(df[genotype], ignore_index=True)
  # For each file - append bsp, population, and ntf to the last df
  allgenodf[128] = allgenodf[128].append(df['population'], ignore_index=True)
  allgenodf[129] = allgenodf[129].append(df['blood_slide_prevalence'], ignore_index=True)
  allgenodf[130] = allgenodf[130].append(df['monthly_ntf_raw'], ignore_index=True)

L_IQRdf = pd.DataFrame(columns = ['time_elapsed', 'population' 'blood_slide_prevalence', 'monthly_ntf_raw'] + ENCODINGDB)
M_IQRdf = pd.DataFrame(columns = ['time_elapsed', 'population' 'blood_slide_prevalence', 'monthly_ntf_raw'] + ENCODINGDB)
U_IQRdf = pd.DataFrame(columns = ['time_elapsed', 'population' 'blood_slide_prevalence', 'monthly_ntf_raw'] + ENCODINGDB)

# Recombine population IQR results to three dfs
population_IQR_result = allgenodf[128].quantile([.25, .5, .75]).values.tolist()
L_IQRdf['population'] = population_IQR_result[0]
M_IQRdf['population'] = population_IQR_result[1]
U_IQRdf['population'] = population_IQR_result[2]

# Recombine bsp IQR results to three dfs
bsp_IQR_result = allgenodf[129].quantile([.25, .5, .75]).values.tolist()
L_IQRdf['blood_slide_prevalence'] = bsp_IQR_result[0]
M_IQRdf['blood_slide_prevalence'] = bsp_IQR_result[1]
U_IQRdf['blood_slide_prevalence'] = bsp_IQR_result[2]

# Recombine NTF IQR results to three dfs
ntf_IQR_result = allgenodf[130].quantile([.25, .5, .75]).values.tolist()
L_IQRdf['monthly_ntf_raw'] = ntf_IQR_result[0]
M_IQRdf['monthly_ntf_raw'] = ntf_IQR_result[1]
U_IQRdf['monthly_ntf_raw'] = ntf_IQR_result[2]

In [7]:
df

,time_elapsed,system_time,year,month,day,seasonal_factor,treatment_coverage_0_1,treatment_coverage_0_10,population,sep,...,TNFNFY2x,TNFNFY2X,TYFYFC1x,TYFYFC1X,TYFYFC2x,TYFYFC2X,TYFYFY1x,TYFYFY1X,TYFYFY2x,TYFYFY2X
0,1577836800,2020,1,1,1,0.5,0.5,1000000,-1111,0.000000,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
31,1580515200,2020,2,1,1,0.5,0.5,1000714,-1111,0.000000,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
60,1583020800,2020,3,1,1,0.5,0.5,1001431,-1111,0.000000,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
91,1585699200,2020,4,1,1,0.5,0.5,1002242,-1111,0.000000,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
121,1588291200,2020,5,1,1,0.5,0.5,1002940,-1111,0.000000,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,2514067200,2049,9,1,1,0.4,0.4,1301994,-1111,0.894651,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
10866,2516659200,2049,10,1,1,0.4,0.4,1302830,-1111,0.894651,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
10897,2519337600,2049,11,1,1,0.4,0.4,1303630,-1111,0.894651,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
10927,2521929600,2049,12,1,1,0.4,0.4,1304455,-1111,0.894651,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN
10958,2524608000,2050,1,1,1,0.4,0.4,1305298,-1111,0.894651,...,0,0.0,0,0.0,0,0.0,0,0.0,0,NaN

In [8]:
df = pd.read_csv('parsed_data/oset7m/set7cyc_1monthly.txt', sep='\t')

In [9]:
df

,time_elapsed,system_time,year,month,day,seasonal_factor,treatment_coverage_0_1,treatment_coverage_0_10,population,sep,...,TNFNFY2X,TYFYFC1x,TYFYFC1X,TYFYFC2x,TYFYFC2X,TYFYFY1x,TYFYFY1X,TYFYFY2x,TYFYFY2X,Unnamed: 152
0,0,1577836800,2020,1,1,1,0.5,0.5,1000000,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
1,31,1580515200,2020,2,1,1,0.5,0.5,1000756,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
2,60,1583020800,2020,3,1,1,0.5,0.5,1001518,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
3,91,1585699200,2020,4,1,1,0.5,0.5,1002343,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
4,121,1588291200,2020,5,1,1,0.5,0.5,1003063,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,10836,2514067200,2049,9,1,1,0.4,0.4,1303143,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
357,10866,2516659200,2049,10,1,1,0.4,0.4,1303953,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
358,10897,2519337600,2049,11,1,1,0.4,0.4,1304660,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
359,10927,2521929600,2049,12,1,1,0.4,0.4,1305447,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN
360,10958,2524608000,2050,1,1,1,0.4,0.4,1306315,-1111,...,0,0.0,0,0,0,0.0,0,0,0,NaN